.paragraps{
  color: rgb(128, 128, 128);
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 500px) {
  .profile{
      display: flex;
      flex-direction: column;

  color: white;
  }

  .addbutton {
      height: 50px;
      width: 250px;
      margin-left: auto;
      margin-right: auto;

}
.image{
  margin: auto;
}
.info{
  margin: auto;
}
.grid{
  margin-left: auto;
  margin-right: auto;
}

}