.popup {

  margin: auto;
  max-width: 430px;
  max-height: 330px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 overflow: visible;
  border-radius: 10px;

position: relative;

}

.cerrar {
  position: absolute;
 top: -40px;
 right: -40px;
  background: none;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  border: none;


}


h3 {
  margin-bottom: 20px;
  font-size: 2em;
}

.popup__form {

}

.popup input[type="text"],
.save {

  width: calc(100% - 30px);
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border-bottom-color: #a7a7a7;
  border-top-style:unset;
  border-left-style: unset;
  border-right-style: unset;

}

.save{
  background-color: rgb(7, 4, 4);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.save:hover {
  background-color: #3d3d3d;
}
#popup::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}

.popupplace {

  margin: auto;
  max-width: 430px;
  max-height: 330px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 overflow: visible;
  border-radius: 10px;

position: relative;

}
.popupplace::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}

.place {
  width: calc(100% - 30px);
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border-bottom-color: #a7a7a7;
  border-top-style:unset;
  border-left-style: unset;
  border-right-style: unset;

}

.save{
  background-color: rgb(7, 4, 4);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}




.modal {
  display: none; /* Oculta la ventana emergente por defecto */
  position: fixed;
  z-index: 1; /* Asegura que la ventana emergente esté encima de otros elementos */
  left: 0;
  top: 0;
  width:100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
}

.content-images{
  position: relative;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  max-width:  443px;
  height: 560px;
  padding: 10px;

}

/* Estilo para el contenido de la ventana emergente */
.modal-content {
width:  100%;
height: 100%;
border-radius: 14px;

}
.piemodal{
  color:red;
}

/* Estilo para el botón de cerrar */
.close {
  background: none;
  border: none;

  position: absolute;
  top: -36px;
  right: -7px;
  color: #fff;
  font-size: 2.5rem;

  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
}
